@using System.Globalization

@using Omikron.FactFinder.Data

@{
    var asn = PageData["asn"] as AfterSearchNavigation;
    var campaigns = PageData["campaigns"] as CampaignList;
    var ffParameters = PageData["ffParameters"] as SearchParameters;
    
    if(asn != null)
    {
        foreach(AsnGroup group in asn)
        {
            <div class="asnGroup"><h3>@group.Name</h3>

            @switch(group.Style)
            {
            case AsnGroupStyle.Slider:
                foreach(AsnSliderItem slider in group)
                {
                    <!-- OneTouchSlider setup script -->
                    <script>
						// This is needed for currency symbols defined as HTML entities
						function htmlDecode(input){
							var e = document.createElement('div');
							e.innerHTML = input;
							return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
						}
						@*We use the ToString() versions that take an IFormatProvider and supply the
                          invariant culture, so that floating point numbers are serialized with a decimal
                          point regardless of the current culture.*@
						function oneTouchSliderOnLoad() {
							oneTouchSlider.addSlider({
								hostElementId: 'price-slider',
								leftBorder: @(slider.AbsoluteMinimum.ToString(CultureInfo.InvariantCulture)),
							    rightBorder: @(slider.AbsoluteMaximum.ToString(CultureInfo.InvariantCulture)),
							    currentLeft: @(slider.SelectedMinimum.ToString(CultureInfo.InvariantCulture)),
							    currentRight: @(slider.SelectedMaximum.ToString(CultureInfo.InvariantCulture)),
							    unit: '@(group.Unit)',
								callback: sliderSelect
							});
						}

						function sliderSelect(left, right) {
							window.location.href="@(Html.Raw(slider.BaseUrl))"+left+" - "+right;
						}
					</script>
                    <div id="price-slider" style="padding:20px;"></div>
                }
                break;
            case AsnGroupStyle.Default:
            default:
                int linkCount = 0;
                foreach(AsnFilterItem item in group)
                {
                    if(item.Selected)
                    {
                        <p class="asnElement selected lvl@(item.ClusterLevel)">
                            <a href="@(item.Url)">@item.Label @group.Unit<br />
                            <span>(@Resources.AfterSearchNavigation.RemoveFilter)</span></a>
                        </p>
                    }
                    else
                    {
                        if(linkCount < group.DetailedLinkCount)
                        {
                            <p class="asnElement lvl@(item.ClusterLevel)">
                                <a href="@(item.Url)">@item.Label @group.Unit
                                @if (!ffParameters.IsNavigation)
                                {
                                    <span>(@item.MatchCount)</span>
                                }
                                </a>
                            </p>
                            linkCount++;
                        }
                        else
                        {
                            if (linkCount == group.DetailedLinkCount)
                            {
                                @:<select onchange="if (this.value = (this.value != \'\') {document.location.href=this.value;}">
                                    <option value="">@String.Format(Resources.AfterSearchNavigation.MoreLinks, group.Count - linkCount)</option>
                            }
                            <option value="@(item.Url)">
                                @item.Label @group.Unit
                                @if (!ffParameters.IsNavigation)
                                {
                                    @: (@item.MatchCount)
                                }
                            </option>
                            linkCount++;
                        }
                    }
                }

                if (linkCount >= group.DetailedLinkCount)
                {
                    @:</select>
                }

                break;
            }
    
            </div>
    
    		@:@Html.Raw(campaigns.GetFeedbackFor("below each asn group"))
        }
    }
}