@using Omikron.FactFinder.Data

@{ 
    var campaigns = PageData["campaigns"] as CampaignList; 
}

<p id="breadCrumbTrail">@Html.Raw(PageData["message"])</p>

@if (PageData["isSearchTimedOut"] ?? false) {
    <p class="timeout">@Resources.Messages.SearchTimedOut</p>
}

@Html.Raw(campaigns.GetFeedbackFor("below breadcrumb"))

@Html.Raw(Resources.Messages.EmptyResultLong)

<hr class="resultLineNoMatch">

@{
    // single words
    var sws = PageData["singleWordSearch"] as IList<SuggestQuery>;
    if (sws != null && sws.Count > 0) {
		<p class="resultSingleQueries">@Resources.Messages.SingleWordResults</p>
		<ul class="resultSingleQueriesList">
		@foreach(var suggestion in sws) {
			<li>
                <a href="@(suggestion.Url)">@suggestion.Query (@suggestion.HitCount)</a>
			</li>
		}
		</ul>
	}
    
    @:@Html.Raw(campaigns.GetFeedbackFor("above pushed product"))

    if (campaigns != null && campaigns.GetPushedProducts().Count > 0) {
	    <p class="noMatchTopseller">@Resources.Messages.EmptyResultTopseller</p>

	    <div id="pushedProducts">
		    @foreach(var record in campaigns.GetPushedProducts()) {
                PageData["record"] = record;
                @RenderPage("~/templates/_product.cshtml");
			}
	    </div>
    }

    <div class="clear">&nbsp;</div>
}