@using Omikron.FactFinder
@using Omikron.FactFinder.Data
@using Omikron.FactFinder.Core.Page
@using Omikron.FactFinder.Core.Configuration

@{

    var record = PageData["record"] as Record;
    var util = PageData["util"] as RenderHelper;

    string articleNr    = (string)record.GetFieldValue(FieldsSection.GetInstance().ProductNumber);
    string title        = (string)record.GetFieldValue(FieldsSection.GetInstance().ProductName);
    string price        = (string)record.GetFieldValue(FieldsSection.GetInstance().Price);
    string description  = (string)record.GetFieldValue(FieldsSection.GetInstance().Description);
    string imageUrl     = (string)record.GetFieldValue(FieldsSection.GetInstance().ImageUrl);
    string detailUrl    = (string)record.GetFieldValue(FieldsSection.GetInstance().Deeplink);
    string sid          = "FF_SPECIFIC_SID_TO_BE_SET";
}

<div class="productWrap">
	<div class="product">
		<div class="picture">
			<a href="@detailUrl" onclick="@(util.CreateJavaScriptClickCode(record, sid))">
				<img valign="top" src="@imageUrl" alt="no picture"
					title="@title" onload="resizePicture(this, 120, 170)" onerror="imageNotFound(this)"
					onmouseover="TagToTip('descr@(articleNr)', SHADOW, true)" onmouseout="UnTip()" />
			</a>
		</div>

		<div style="display:none">
			<span id="descr@(articleNr)" class="hoverDescription">
				<p style="width:200px; font-weight: bold; margin-bottom: 2px;">@title</p>
				<p style="width:200px; text-align: right; margin-top: 0;">
					@Resources.Products.ArticleNumber: @articleNr
				</p>
				<p style="width:200px;">
				@{
                    if(description.Length > 160)
                    {
                        @:@(description.Substring(0, 157))...
                    }
                    else
                    {
                        @:@description
                    }
				}
			</p>
			</span>
		</div>

		<div class="title">
			<a href="@(detailUrl)" onclick="@(util.CreateJavaScriptClickCode(record, sid))">
			@{
                if(title.Length > 23)
                {
                    @:@(title.Substring(0, 20))...
                }
                else
                {
                    @:@title
                }
			}
			</a>
		</div>
		<div class="price">@(price)&euro;</div>
	</div>
</div>