@using Omikron.FactFinder.Data
@using Omikron.FactFinder.Core.Configuration

@{
    var ffParameters = PageData["ffParameters"] as SearchParameters;
}

<div class="suggestFormWrap" >
	<form action="@Href("~")" method="GET" name="search_word_inc">
		<input type="hidden" name="queryFromSuggest" />
		<!-- input type="hidden" name="{* $channelParam *}" value="{* channel *}" / -->
		<input type="text" name="query" id="query" value=
            @if(ffParameters.Query == "" || ffParameters.IsNavigation) {
			    @: "@Resources.Page.EnterSearchQuery" class="default"
			} else {
				@: "@(ffParameters.Query)"
            }
			autocomplete="off" />

		<input type="image" id="submit" src="@Href(String.Format("~/files/images/{0}", @Resources.Page.SearchButtonImageFileName))"/>
		<div id="suggestLayer" class="suggestLayer"></div>
        @if(ModulesSection.GetInstance().UseSuggest) {
		    <script type="text/javascript">
		    <!--
				    var suggest				= new FFSuggest();
				    var searchURL			= 'suggest.cshtml';
				    var formname			= 'search_word_inc';
				    var queryParamName		= 'query';
				    var channelParamName	= 'channel';
				    var channel				= '@(ffParameters.Channel)';
				    var divLayername		= 'suggestLayer';
				    var instanceName		= 'suggest';
				    var debugMode			= false;
				    var showImages          = false;
				    suggest.init(searchURL, formname, queryParamName, divLayername, instanceName, debugMode, channelParamName, channel, showImages);
				    document.onmousedown = suggest.hideLayerOutsideCall;
		    // -->
		    </script>
        }
	</form>
</div>