@using Omikron.FactFinder.Data


@{
    var asn = PageData["asn"] as AfterSearchNavigation;
    var campaigns = PageData["campaigns"] as CampaignList;
    var tagCloud = PageData["tagCloud"] as IList<TagQuery>;
    var ffParameters = PageData["ffParameters"] as SearchParameters;
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <title>@PageData["Title"]</title>

        <link rel="shortcut icon" href="@Href("~/files/images/favicon.ico")">
        <link rel="stylesheet" type="text/css" href="@Href("~/files/css/demoshop.css")">
        <link rel="stylesheet" type="text/css" href="@Href("~/files/css/suggest.blockresponse.css")">
        
        <script type="text/javascript" src="@Href("~/files/js/fftracking.js")"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="@Href("~/files/js/ffsuggest.blockresponse.js")"></script>
        <script type="text/javascript" src="http://static.express.fact-finder.com/onetouchslider-1.0/de.factfinder.asn.slider.OneTouchSlider.nocache.js"></script>
        
		<script language="JavaScript" type="text/javascript">
		    @RenderPage("~/templates/js/demoshop.js.cshtml")
		</script>

        @Html.Raw(campaigns.GetFeedbackFor("html header"))
    </head>
    <body>
        <script type="text/javascript" src="@Href("~/files/js/wz_tooltip/wz_tooltip.js")"></script>

        <div id="container">
            <div id="header">
                @RenderPage("~/templates/_header.cshtml")
            </div>

            <div id="searchboxLine" class="asnHint">
                <div id="searchbox">
                    @RenderPage("~/templates/_searchbox.cshtml")
                </div>

                <div id="SearchboxCMPlaceHolder">
                    @Html.Raw(campaigns.GetFeedbackFor("header"))
                </div>

            </div>

            <div id="content">
				<div id="asnColumn" class="@Resources.AfterSearchNavigation.AsnHintCSSClass" >
					@Html.Raw(campaigns.GetFeedbackFor("above asn"))

					@RenderPage("~/templates/_asn.cshtml")

					@Html.Raw(campaigns.GetFeedbackFor("below asn"))
				</div>

				<div id="resultColumn">
                    @RenderBody()
                </div>
            </div>
            
            <div id="footer">
                @RenderPage("~/templates/_footer.cshtml")
            </div>
        </div>
    </body>
</html>
